{% extends 'base.html.twig' %}

{% block title %}Matthieu Le Verger{% endblock %}

{% block body %}
<section id="presentation">
    <div class="container">
        <div class="row justify-content-center">
            <img class="col-md-6 col-lg-4 col-10 np-element np-hover np-shadow photo" src="{{asset('images/photodeprofil.jpg')}}">
            <div class="col-md-12 col-lg-8 blocpresentation">
                <h3>Matthieu Le Verger</h3>
                <h4>Né le 29/09/1998 (21 ans)<br>Permis B, véhiculé<br>Senlis, Paris, Lille</h4>
                <p>Tout d'abord, bonjour et bienvenue sur mon site personnel ! Je me présente, je m'appelle Matthieu, j'ai 21 ans et l'informatique a toujours été une passion pour moi, il m'a donc semblé logique de vouloir en faire mon métier. Après avoir obtenu un BAC S option Maths au Lycée Hugues Capet à Senlis (60), j'ai passé deux ans en classes préparatoires intégrées, en MPSI à l'ISEN Lille puis en PCSI à HEI Lille à l'issue desquelles j'ai décidé de me réorienter vers un cursus plus professionalisant et plus axé sur l'informatique. Aujourd'hui en 2eme année de BTS Service Informatique aux Organisations (SIO) option Solutions Logiciels et Applications Métiers (SLAM), je souhaite devenir Developpeur Web. Pour y arriver, j'envisage de poursuivre mes etudes après le BTS, en visant une Licence et un Master dans le domaine de l'informatique. </p></div>
        </div>
        <a href="docs/CV.pdf" class="np-element np-hover" id="cv"><i class="fas fa-arrow-circle-down"></i> Télécharger mon CV</a>
    </div>

    <ul class="timeline  col-8 offset-2">
        <li class="tdn">
            <div class="timeline-badge np-element"><span class="fas fa-laptop"></span></div>
            <div class="timeline-panel-container">
                <div class="timeline-panel np-element np-hover">
                    <div class="timeline-heading">
                        <h3>BTS SIO option SLAM</h3>
                        <h4><a href="http://www.lycee-stvincent.fr/" target="_blank">Lycée Saint-Vincent Senlis</a></h4>
                        <p class="text-muted"><small class="fas fa-clock"></small> Depuis 2019</p>
                    </div>
                </div>
            </div>
        </li>
        <li  class="tdn">
            <div class="timeline-badge np-element np-hover"><span class="fas fa-flask"></span></div>
            <div class="timeline-panel-container-inverted">
                <div class="timeline-panel np-element np-hover">
                    <div class="timeline-heading">
                        <h3>Classes prépa. intégrées PCSI</h3>
                        <h4><a href="http://www.hei.fr/" target="_blank">HEI Lille</a></h4>
                        <p class="text-muted"><small class="fas fa-clock"></small> 2017-2018</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="tdn">
            <div class="timeline-badge np-element np-hover"><span class="fas fa-calculator"></span></div>
            <div class="timeline-panel-container">
                <div class="timeline-panel np-element np-hover">
                    <div class="timeline-heading">
                        <h3>Classes prépa. intégrées MPSI</h3>
                        <h4><a href="https://www.isen-lille.fr/" target="_blank">ISEN Lille</a></h4>
                        <p class="text-muted"><small class="fas fa-clock"></small> 2016-2017</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="tdn">
            <div class="timeline-badge np-element np-hover"><span class="fas fa-graduation-cap"></span></div>
            <div class="timeline-panel-container-inverted">
                <div class="timeline-panel np-element np-hover">
                    <div class="timeline-heading">
                        <h3>Bac. S. Spé. Maths</h3>
                        <h4><a href="http://capet.lyc.ac-amiens.fr/" target="_blank">Lycée Hugues Capet Senlis</a></h4>
                        <p class="text-muted"><small class="fas fa-clock"></small> 2013-2016</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="np-divider"></div>
</section>

<section id="projects">

</section>

<section id="contact">
        {{form_start(contactForm)}}
            <div class="np-form-group col-10 offset-1 col-sm-8 offset-sm-2">
                {{form_label(contactForm.senderName, 'Nom :', {
                    'label_attr': {'class': '' } 
                })}}            
                {{form_widget(contactForm.senderName, {'attr': {'class': 'np-form-element np-text-accent'}}) }}
                <small>{{ form_help(contactForm.senderName) }}</small>
                <div class="form-error">
                    {{ form_errors(contactForm.senderName) }}
                </div>

                {{form_label(contactForm.senderEmail, 'Email :', {
                    'label_attr': {'class': '' } 
                })}}            
                {{form_widget(contactForm.senderEmail, {'attr': {'class': 'np-form-element np-text-accent'}}) }}
                <small>{{ form_help(contactForm.senderEmail) }}</small>
                <div class="form-error">
                    {{ form_errors(contactForm.senderEmail) }}
                </div>

                {{form_label(contactForm.senderPhone, 'Téléphone :', {
                    'label_attr': {'class': '' } 
                })}}            
                {{form_widget(contactForm.senderPhone, {'attr': {'class': 'np-form-element np-text-accent'}}) }}
                <small>{{ form_help(contactForm.senderPhone) }}</small>
                <div class="form-error">
                    {{ form_errors(contactForm.senderPhone) }}
                </div>

                {{form_label(contactForm.subject, "Objet :", {
                    'label_attr': {'class': '' } 
                })}}            
                {{form_widget(contactForm.subject, {'attr': {'class': 'np-form-element np-text-accent'}}) }}
                <small>{{ form_help(contactForm.subject) }}</small>
                <div class="form-error">
                    {{ form_errors(contactForm.subject) }}
                </div>

                {{form_label(contactForm.body, 'Message :', {
                    'label_attr': {'class': '' } 
                })}}            
                {{form_widget(contactForm.body, {'attr': {'class': 'np-form-element np-text-accent'}}) }}
                <small>{{ form_help(contactForm.body) }}</small>
                <div class="form-error">
                    {{ form_errors(contactForm.body) }}
                </div>
                <br>
                {{form_widget(contactForm.submit, {'attr': {'class': 'np-element np-hover'}}) }}


            </div>
        {{form_end(contactForm)}}
</section>


<ul>
    {% for project in projects %}
        <li>
            <p>{{projet.name}}</p>
        </li>
    {% endfor %}
</ul>

{% endblock %}
