{% extends 'base.html.twig' %}

{% block title %}Matthieu Le Verger{% endblock %}

{% block navbar %}
    {% include "navbar.html.twig" %}
{% endblock %}

{% block body %}
<div id="homepage">
    <h2 id="welcome"></h2>
</div>

<section id="presentation">
    <div class="container">
        <h5>Présentation</h5>
        <div class="row justify-content-center">
            <img class="col-md-6 col-lg-4 col-8 np-element np-hover np-shadow photo from-left" src="{{asset('images/photodeprofil.jpg')}}">
            <div class="col-md-12 col-lg-8 blocpresentation from-right">
                <h3>Matthieu Le Verger</h3>
                <h4>Né le 29/09/1998 (21 ans)<br>Permis B, véhiculé<br>Senlis, Paris, Lille</h4>
                <p>Tout d'abord, bonjour et bienvenue sur mon site personnel ! Je me présente, je m'appelle Matthieu, j'ai 21 ans et l'informatique a toujours été une passion pour moi, il m'a donc semblé logique de vouloir en faire mon métier. Après avoir obtenu un BAC S option Maths au Lycée Hugues Capet à Senlis (60), j'ai passé deux ans en classes préparatoires intégrées, en MPSI à l'ISEN Lille puis en PCSI à HEI Lille à l'issue desquelles j'ai décidé de me réorienter vers un cursus plus professionalisant et plus axé sur l'informatique. Aujourd'hui en 2eme année de BTS Service Informatique aux Organisations (SIO) option Solutions Logiciels et Applications Métiers (SLAM), je souhaite devenir Developpeur Web. Pour y arriver, j'envisage de poursuivre mes etudes après le BTS, en visant une Licence et un Master dans le domaine de l'informatique. </p>
            </div>
        </div>
        <a href="https://www.linkedin.com/in/matthieu-le-verger-452831198/" target="_blank" class="np-element np-hover tac mb-20 network-left"><i class="fab fa-linkedin"></i>  Visiter mon LinkedIn</a>
        <a href="https://github.com/MatthieuLV" target="_blank" class="np-element np-hover tac mb-20 network-right"><i class="fab fa-github"></i>  Visiter mon GitHub</a>
        <a href="{{asset('documents/CV.pdf')}}" class="np-element np-hover" id="cv"><i class="fas fa-arrow-circle-down"></i> Télécharger mon CV</a>
        <div class="row justify-content-center">
            <ul class="timeline  col-12">
                <li class="tdn from-left">
                    <div class="timeline-badge np-element np-hover"><span class="fas fa-laptop"></span></div>
                    <div class="timeline-panel-container">
                        <div class="timeline-panel np-element np-hover">
                            <div class="timeline-heading">
                                <h3>BTS SIO option SLAM</h3>
                                <h4><a href="http://www.lycee-stvincent.fr/" target="_blank">Lycée Saint-Vincent Senlis</a></h4>
                                <p class="text-muted"><small class="fas fa-clock"></small> Depuis 2019</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="tdn from-right">
                    <div class="timeline-badge np-element np-hover"><span class="fas fa-flask"></span></div>
                    <div class="timeline-panel-container-inverted">
                        <div class="timeline-panel np-element np-hover">
                            <div class="timeline-heading">
                                <h3>Classes prépa. intégrées PCSI</h3>
                                <h4><a href="http://www.hei.fr/" target="_blank">HEI Lille</a></h4>
                                <p class="text-muted"><small class="fas fa-clock"></small> 2017-2018</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="tdn from-left">
                    <div class="timeline-badge np-element np-hover"><span class="fas fa-calculator"></span></div>
                    <div class="timeline-panel-container">
                        <div class="timeline-panel np-element np-hover">
                            <div class="timeline-heading">
                                <h3>Classes prépa. intégrées MPSI</h3>
                                <h4><a href="https://www.isen-lille.fr/" target="_blank">ISEN Lille</a></h4>
                                <p class="text-muted"><small class="fas fa-clock"></small> 2016-2017</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="tdn from-right">
                    <div class="timeline-badge np-element np-hover"><span class="fas fa-graduation-cap"></span></div>
                    <div class="timeline-panel-container-inverted">
                        <div class="timeline-panel np-element np-hover">
                            <div class="timeline-heading">
                                <h3>Bac. S. Spé. Maths</h3>
                                <h4><a href="http://capet.lyc.ac-amiens.fr/" target="_blank">Lycée Hugues Capet Senlis</a></h4>
                                <p class="text-muted"><small class="fas fa-clock"></small> 2013-2016</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</section>

<section id="projects">
    <div class="container">
        <h5>Réalisations</h5>
        
        <div class="row from-center">
            {% for project in projects %}
                {% for photo in project.photos %}
                    {% if loop.first %}
                    <div class="p-15 col-6 col-md-4">
                        <div class="np-element np-project np-hover image-box-project">
                            <a href="{{ path('project', { 'id': project.id }) }}">
                                <img src="{{ asset('images/projects/' ~ photo.image.name) }}" class="photoproject">
                                <div class="np-hover hoverproject"></div>
                            </a>    
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>

<section id="skills">
    <div class="container">
        <h5>Compétences</h5>
        
        <div class="row justify-content-center from-center">
            {% for skill in skills %}
                <div class="p-15 col-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="np-element np-skill np-hover image-box-skill">
                        <img src="{{ asset('images/skills/' ~ skill.image.name) }}" class="photoskill">
                        <div class="np-hover hoverskill"></div>                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="experiences">
    <div class="container">
        <h5>Experiences professionnelles</h5>
        <div class="row justify-content-center">
            {% for experience in experiences %}
                <div class="p-15 col-6 col-sm-4 from-center">
                    <div class="np-element np-experience np-hover image-box-experience">
                        <a href="{{ path('experience', { 'id': experience.id }) }}">
                            <img src="{{ asset('images/experiences/' ~ experience.image.name) }}" class="photoexperience">
                            <div class="np-hover hoverexperience"></div>                        
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <h5>Contact</h5>
        <p class="tac">Vous souhaitez me contacter ? Envoyer moi un mail, un sms ou remplissez le formulaire ci-dessous !</p>
        <div class="row">
            <div class="col-12 col-md-4 tac mtb-20">
                <h4><span class="fas fa-envelope"></span>  Email</h4>
                <a href="mailto:matthieu.leverger@lyceestvincent.fr">matthieu.leverger@lyceestvincent.fr</a>
            </div>
            <div class="col-12 col-md-4 tac mtb-20">
                <h4><span class="fas fa-phone"></span>  Téléphone </h4>
                <a href="tel:0689484202">06 89 48 42 02</a>
            </div>
            <div class="col-12 col-md-4 tac mtb-20">
                <h4><span class="fas fa-home"></span>  Adresse </h4>
                <p>25 rue de l'église, 60700, Fleurines</p>
            </div>
            <div class="col-12">
                {{form_start(contactForm)}}
                <div class="np-form-group from-bottom">
                    {{form_label(contactForm.senderName, 'Nom :', {
                        'label_attr': {'class': '' } 
                    })}}            
                    {{form_widget(contactForm.senderName, {'attr': {'class': 'np-form-element np-text-accent'}}) }}
                    <small>{{ form_help(contactForm.senderName) }}</small>
                    <div class="form-error">
                        {{ form_errors(contactForm.senderName) }}
                    </div>

                    {{form_label(contactForm.senderEmail, 'Email :', {
                        'label_attr': {'class': '' } 
                    })}}            
                    {{form_widget(contactForm.senderEmail, {'attr': {'class': 'np-form-element np-text-accent'}}) }}
                    <small>{{ form_help(contactForm.senderEmail) }}</small>
                    <div class="form-error">
                        {{ form_errors(contactForm.senderEmail) }}
                    </div>

                    {{form_label(contactForm.senderPhone, 'Téléphone :', {
                        'label_attr': {'class': '' } 
                    })}}            
                    {{form_widget(contactForm.senderPhone, {'attr': {'class': 'np-form-element np-text-accent'}}) }}
                    <small>{{ form_help(contactForm.senderPhone) }}</small>
                    <div class="form-error">
                        {{ form_errors(contactForm.senderPhone) }}
                    </div>

                    {{form_label(contactForm.subject, "Objet :", {
                        'label_attr': {'class': '' } 
                    })}}            
                    {{form_widget(contactForm.subject, {'attr': {'class': 'np-form-element np-text-accent'}}) }}
                    <small>{{ form_help(contactForm.subject) }}</small>
                    <div class="form-error">
                        {{ form_errors(contactForm.subject) }}
                    </div>

                    {{form_label(contactForm.body, 'Message :', {
                        'label_attr': {'class': '' } 
                    })}}            
                    {{form_widget(contactForm.body, {'attr': {'class': 'np-form-element np-text-accent'}}) }}
                    <small>{{ form_help(contactForm.body) }}</small>
                    <div class="form-error">
                        {{ form_errors(contactForm.body) }}
                    </div>
                    <br>
                    {{form_widget(contactForm.submit, {'attr': {'class': 'np-element np-hover'}}) }}
                    {{form_end(contactForm)}}
                </div>
            </div>
        </div>
    </div>
        <!-- <div class="row">
            <div class="col-12"><p>Vous souhaitez me contacter ? Laissez-moi un message !</p></div>
            <div class="col-6">
                <a href="mailto:adresse@serveur.com"><span class="fas fa-envelope"></span> matthieu.leverger@lyceestvincent.fr</a>
            </div>
            <div class="col-6"><p><span class="fas fa-phone"></span> 06 89 48 42 02</p></div>
        </div> -->
</section>

<div id="changer">
    <div id='change-mode' class="np-hover"></div>
    <div id='change-secondary' class="np-hover"></div>
</div>

{% endblock %}
